body{
    /*Create the body of the web page to become a flexbox.*/
    display:flex;
    flex-direction:column;    
}
img{
    height:500px;
    width:800px;
}
.container1{
    display:flex;
    background-image:url(../Edgar_Wright/images/image_processing20220908-138-bacjph.jpg);
    background-size:cover;
    background-color:black;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:800px;
    min-height:max-content;
}/*freezes the text so it can appear over the image.*/
.text{
    display:flex;
    margin-bottom:100px;
    width:100%;
    height:200px;
    align-self:flex-end;
    justify-content: center;
    align-items: center;
    padding-left: 14px;  
    /* fades the background color but doesn't effect the opacity of the entire container.*/  
    background-color:rgba(0, 3, 0, 0.7);
    /* gives the box border a rounded edge*/
    border-radius:5%;
}
.image{
    /*Create image size and placement for first image */
    display:flex;
    justify-content: center;
    align-items: center; 
    max-width:fit-content;
    flex-wrap:wrap;
}
.container2{
    display:flex;
    background-color: black;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:600px;
    min-height:max-content;
}
/*third continaer styling the third head.*/
.container3{
    display:flex;   
    background-color: black;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:800px;
    min-height:max-content;
}
.poster1{
    display:flex;
    flex-direction: column;
    align-content:center;
    justify-content: center;
}
.subtext2{
    display:flex;
    font-size:25px;
    font-weight:bolder;
    justify-content: center;
    height:100px;
}
.title{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: black;
    color:white;
}
.Dead_right{
    display:flex;
    
    height:500px;
    
}
.subtext2{
    display:flex;
    background-color:black;
    color:white;
}
.poster3{
    display:flex;
    align-items:center;
    justify-content: center;
    border:1px solid blue;
}
.subtext2{
    display:flex;
    align-items:center;
    justify-content: center;
}