body{
    display:flex;
    flex-direction:column;    
}
.container1{
    display:flex;
    background-color: black;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:800px;
    min-height:max-content;
}
.text{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 14px;
}
.image{
    display:flex;
    justify-content: center;
    align-items: center;   
}
.container2{
    display:flex;
    background-color: black;
    color:white;
    font-size:25px;
    font-weight:bolder;
    height:600px;
    min-height:max-content;
}